<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title, required: true, autofocus: true %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, rows: 10, required: true %>
  </div>

  <div>
    <%= form.label :tag_list, "Tags (comma or space separated)" %><br>
    <%= form.text_field :tag_list, value: @post.tag_list, placeholder: "ruby, rails" %>
    <small>例: ruby rails web</small>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
